.debug * {
    outline: 1px solid rgb(43, 0, 255);
}

@media (prefers-reduced-motion: no-preference){
    * {
        scroll-behavior: smooth;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', Georgia, serif;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.lesstopmargin {
    margin-top: -32px;
}

.lesstopmargin2 {
    margin-top: 16px;
}

hr {
    margin-bottom: 5em;
    width: 600px;
    height: 2px;
    background-color: rgb(181, 34, 63);
    border: none;
}

section:not(.hero-section) {  /* THIS IS THE SPACING FOUNDATION FOR SECTION*/
    margin: 128px auto;
    padding: 0 10vw;
    max-width: 1100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

nav {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(181, 34, 63);
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 5em;
    list-style: none;
    padding: 0 50px 0 0;
}

nav > ul > li:hover {
    color: white;
    cursor: pointer;
}

nav > ul > li > a {
    color: inherit;
    text-decoration: none;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hero-section img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.hero-text {
    position: absolute;
    color: white;
    bottom: 10%;
    right: 5%;
    text-align: center;
} 

.hero-text h1 {
    font-size: 2.5rem;
    margin: 0;
}

.hero-text p {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(181, 34, 63);
}

.bio-section h2 {
    margin-bottom: 64px;
    text-align: center;
}

.biodiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.biodiv img {
    border-radius: 10px;
}

.biodiv > p {
    font-size: 1.2rem;
    text-align: center;
}

.gallery-section h2 {
    margin-bottom: 64px;
    text-align: center;
}

section.gallery-section {
    padding: 0;
    max-width: none;
    position: relative;
}

.galdiv {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;  
}

.galdiv img {
    max-width: 500px;
    max-height: 300px;
    scroll-snap-align: center;
    border-radius: 10px;
    object-fit: cover;
}

section.songs-section {
    padding: 0;
}

.songs-section h2 {
    text-align: center;
    margin-bottom: 64px;
}

.songdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 45px;
}

.songdiv img {
    display: block;
    position: relative;
    max-width: 600px;
    height: 200px;
    border-radius: 10px;
    transition: filter 0.5s ease;
}

.songdiv a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.songtitle {
    position: absolute;
    color: white;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    transition: color 0.5s ease;
    transition: border 0.5s ease;
    border: 2px solid white;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songdiv a:hover img {
    filter: brightness(50%);
}

.songdiv a:hover .songtitle {
    color: #c52041;
    border: 10px solid white;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f040e;
    margin: 0;
    height: 6em;
    gap: 0px;
    padding: 20px;
}

.footer-p {
    margin: 0;
    color: #b5223f;
    height: 2em;
    text-align: center;
    
}

#footerlink, #tribute-link{
    color: #b5223f;
    text-decoration: none;
    transition: color 0.5s ease;
}

#footerlink:hover, #tribute-link:hover{
    color: white;
}




        /*Mobile Responsiveness*/

@media (max-width: 700px) {

  header {
    top: 18%;
  }

  .hero-text {
    top:3%;
    right: 7%;
  }

  nav > ul {
    flex-direction: column;
    gap: 1.5em;
    padding-right: 0;
  }

  nav > ul > li {
    margin-left: 40%;
  }

  hr {
    max-width: 275px;
  }

  .biodiv {
    flex-direction: column;
    gap: 32px;
  }

  .galdiv {
    width: 160vw;
    gap: 32px;
  }

  .songdiv {
    flex-direction: column;
    gap: 32px;
  }

  .songdiv img {
    max-width: 90%;
    height: auto;
  }

  .hero-section > img {
    object-fit: cover;
    object-position: 37.5%;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  section:not(.hero-section) {
    margin: 64px auto;
    padding: 0 5vw;
  }

  .footer-p {
    font-size: 0.9rem;
  }

}