.debug * {
    outline: 1px solid rgb(43, 0, 255);
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

section:not(.hero-section) {  /* THIS IS THE SPACING FOUNDATION FOR SECTION*/
    margin: 128px auto;
    padding: 0 10vw;
    max-width: 1000px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

nav {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(181, 34, 63);
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 5em;
    list-style: none;
    padding: 0 50px 0 0;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hero-section img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    display: block;
}

.hero-text {
    position: absolute;
    color: white;
    bottom: 10%;
    right: 5%;
    text-align: center;
} 

.hero-text h1 {
    font-size: 2.5rem;
    margin: 0;
}

.hero-text p {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(181, 34, 63);
}

.bio-section h1 {
    margin-bottom: 64px;
    text-align: center;
}

.biodiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.biodiv > p {
    font-size: 1.2rem;
    text-align: center;
}

.gallery-section h1 {
    margin-bottom: 64px;
    text-align: center;
}

section.gallery-section {
    padding: 0;
    max-width: none;
    position: relative;
}

.galdiv {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;  
}

.galdiv img {
    scroll-snap-align: center;
    border-radius: 10px;
    object-fit: cover;
}