
/*BASIC STRUCTURE*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background: #111;
    color: #eee;
    line-height: 1.6;
}