/*debug*/

.debug * {
    outline: 1px solid rgb(43, 0, 255);
 }



/*BASIC STRUCTURE*/

*, *::before, *::after {        /*CSS Reset + Box Model Fix*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {      /*MAIN STRUCTURE/STYLE OF THE PAGE*/
    font-family: 'Montserrat', sans-serif;
    background: #292727;
    color: #f9f5f2;
    line-height: 1.6;
}

#nav-bar {      /*NAV-BAR STRUCTURE AND STYLE*/

    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
    animation: fadeIn 1s ease-out 2s forwards;
}

#nav-bar > ul {     /*NAV-ITEMS ALIGNMENT*/
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    list-style: none;
    margin: 2rem 3rem 0.5rem 0rem;
}

#nav-bar > ul > li {    /*PADDING INSIDE THE LINKS BUTTONS*/
    padding: 0.3rem;
}

.nav-link > a {
    text-decoration: none;
    color: #f9f5f2;
    position: relative;
    padding-bottom: 0.2rem;
    
}

.nav-link > a:hover {
    color: #daa520;
    transition: color 0.3s ease;
}

.nav-link > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #daa520;
    transition: width 0.3s ease;
}
.nav-link > a:hover::after {
    width: 100%;
}

img {           /*MAIN STRUCTURE OF THE IMAGES*/
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


.hero {         /*HERO IMAGE POSITIONING AND SIZE*/
   position: relative;
    width: 100%;
    height: 100vh;    
    height: 100svh;  
    min-height: 100vh;    
    overflow: hidden;    
    background: #292727;
}

#hero-img1 {
    width: 100%;
    height: 100%;
    padding: 5rem 5rem 10rem;
    object-fit: cover;
    display: block;
    animation: fadeIn 1s ease-out 1s forwards;
}

.hero-content {     /*HERO PHRASES/SLOGAN STYLE AND POSITION*/
    position: absolute;
    bottom: 2rem;          
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.hero-content p {   /*HERO ARROW STYLE AND POSITION*/
    font-size: 3rem;
    color: #f9f5f2;
    animation: fadeIn 1s ease-out 3s forwards;
}

h1 {            /*MAIN TITLE FRONT PAGE*/
    text-align: center;
}

hr {
    margin:auto auto 5em auto;
    width: 90%;
    max-width: 600px;
    height: 3px;
    background-color: #daa520;
    border: none;
}

h2 {            /*SECTION TITLES*/
    text-align: center;
    margin: 2rem auto 2rem auto;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-section {
    max-width: 1200px;  
    margin: 4rem auto 4rem;
    padding: 2rem;
    background-color: #f9f5f2;
    color: #292727;
    border-radius: 20px;
}


.about-div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 64px;
    padding: 4rem;
}

#about-img {
    width: 60% !important;
    border-radius: 20px;
    object-fit: cover;
}

.about-div p {
    width: 60%;
    max-width: 480px;
    margin: 0 auto;
    padding: auto 10rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
}

.products-section {         /*PRODUCT SECTION SPACING*/
    max-width: 1200px;
    margin: 4rem auto;
    padding: 1rem 1rem;
    border-radius: 20px;
}

.products-grid {        /*PRODUCT SECTION GRID STRUCTURE*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.product-card img {     /*GRID IMAGES SIZE AND STYLE*/
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px #f9f5f2;
    margin-bottom: 2rem;
}

.product-card p {       /*GRID IMAGE-DESCRIPTION STYLE*/
    text-align: center;
    margin: 1rem;
}

#more-info {
    color: #f9f5f2;

}

#more-info:hover {
    color: #daa520;
    transition: color 0.3s ease;
}

.form-section {     /*FORM SECTION STRUCTURE*/
    max-width: 1200px;      
    margin: 4rem auto;
    padding: 1rem 2rem;
}

.form-element {     /*FORM ALIGNMENT*/
    display: flex;
    flex-direction: column;
    gap: 1rem;             
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
    text-decoration: underline;
    font-weight: 600;
    color: #292727;
    background-color: #f9f5f2;
    outline: 3px solid #daa520;
}

.label-input, #details{
    background-color: #292727;
    color: #f9f5f2;
    padding: 0.5rem;
    border: 3px solid #daa520;
}

#submit {
    width: 50%;
    height: 5rem;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #f9f5f2;
    color: #292727;
    border-radius: 20px;
    border: none;
    outline: 3px solid #292727;
}

#submit:hover {
    background-color: #292727; 
    color: #f9f5f2;              
    outline: 3px solid #daa520;  
    cursor: pointer;             
    transition: all 0.3s ease;
    text-decoration: underline;   
}

.footer-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin: 7rem auto 0;
    border-top: 1px solid #daa520;
    padding: 1.5rem;
    color: #eee;
    background: #292727;
}

.footer-div > p {
    font-style: italic;
}

.insta-link {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #f9f5f2;
    border-radius: 20px;
    border: 3px solid #f9f5f2;
    transition: all 0.2s ease-out;
}

.insta-link:hover {
    background-color: #f9f5f2; 
    color: #292727;              
    cursor: pointer;
    border: 3px solid #daa520;
}

#insta-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: none;   
}

/*THANK YOU PAGE*/

.thank-you-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -10%);
}

.thank-you-page h1, .thank-you-page p {
    margin: 1rem auto 2rem;
    max-width: 1200px;
    min-width: 300px;
}

.back-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    background-color: #292727;
    color: #f9f5f2;
    border-radius: 12px;
    text-decoration: none;
    outline: 2px solid #daa520;
    font-weight: 600;
}

.back-button:hover {
    background-color: #f9f5f2;
    color: #292727;
    outline: 2px solid #daa520;
    box-shadow: 0 0 50px #daa520;
    cursor: pointer;
    transition: all 0.3s ease;
}

#thankyou-logo {
    max-width: 600px;
}

/*EFFECTS*/

#hero-img1,
#nav-bar,
.hero-content p {
    opacity: 0;
}

@keyframes fadeIn {
    from { opacity: 0}
    to { opacity: 1}
}

/*MEDIA QUERIES - TURN OFF MOTION IF PREFEREDBY USER*/

@media (prefers-reduced-motion: no-preference){
    * {
        scroll-behavior: smooth;
    }
}

/*MOBILE RESPONSIVE LAYOUT*/

@media (max-width: 768px) {   /*MOBILE PHONES*/

    .hero {
        height: 90svh;   /* true iPhone height */
        min-height: 100svh;
    }

    #hero-img1 {
        padding: 2rem 1rem 4rem;
        object-fit: contain;
    }

    .hero-content p {
        font-size: 2.5rem;
    }

    #nav-bar {
        justify-content: center;
    }

    #nav-bar > ul {
        gap: 2rem;
        justify-content: center;
        margin: 0 auto;
    }

    .nav-link > a {
        font-size: 1rem;
    }

    hr {
        width: 80%;
        max-width: 300px;
    }

    .about-div {
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
    }

    #about-img,
    .about-div p {
        width: 100% !important;
    }

    .products-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0 1rem;
    }

    .product-card img {
        width: 80%;
        height: auto;
        margin: 0 auto 2rem;
    }

    .form-element {
        padding: 1.5rem;
        width: 90%;
    }

    #submit {
        width: 50%;
        height: 4rem;
    }

    .footer-div {
        flex-direction: column;
        height: auto;
        gap: 1.5rem;
        padding: 2rem 1rem;
    }

    .footer-div p {
        max-width: 300px;
        text-align: center;
    }

    #insta-icon {
        width: 30px;
        height: 30px;
    }

}

@media (min-width: 768px) and (max-width: 1200px) {        /*TABLETS*/

    .hero {
        height: 100svh;   /* true iPhone height */
        min-height: 500px; 
    }

    #hero-img1 {
        padding: 3rem 3rem 6rem; 
        object-fit: contain;     
    }

    #nav-bar {
        justify-content: center;
    }

    #nav-bar > ul {
        gap: 2rem;
        justify-content: center;
        margin: 0 auto;
    }

    .about-div {
        padding: 2rem;
        gap: 2rem;
        flex-direction: row;
    }

    #about-img,
    .about-div p {
        width: 100%;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem;
        padding: 0 2rem;
    }

    .product-card img {
        width: 90%;
        margin: 0 auto;
    }
}
