/*debug*/

.debug * {
    outline: 1px solid rgb(43, 0, 255);
 }



/*BASIC STRUCTURE*/

*, *::before, *::after {        /*CSS Reset + Box Model Fix*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {      /*MAIN STRUCTURE/STYLE OF THE PAGE*/
    font-family: system-ui, sans-serif;
    background: #292727;
    color: #f9f5f2;
    line-height: 1.6;
}

#nav-bar {      /*NAV-BAR STRUCTURE AND STYLE*/

    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
}

#nav-bar > ul {     /*NAV-ITEMS ALIGNMENT*/
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    list-style: none;
    margin: 2rem 3rem 0.5rem 0rem;
}

#nav-bar > ul > li {    /*PADDING INSIDE THE LINKS BUTTONS*/
    padding: 4px;
}

img {           /*MAIN STRUCTURE OF THE IMAGES*/
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero {         /*HERO IMAGE POSITIONING AND SIZE*/
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {     /*HERO PHRASES/SLOGAN STYLE AND POSITION*/
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.hero-content h1 {     /*HERO PHRASES/SLOGAN STYLE AND POSITION*/
    font-size: 4rem;
    margin-bottom: 28%;
}

.hero-content p {   /*HERO ARROW STYLE AND POSITION*/
    font-size: 1.8rem;
}

h1 {            /*MAIN TITLE FRONT PAGE*/
    text-align: center;
}

hr {
    margin:auto auto 5em auto;
    width: 600px;
    height: 3px;
    background-color: #daa520;
    border: none;
}

h2 {            /*SECTION TITLES*/
    text-align: center;
    margin: 2rem auto 2rem auto;
   /* text-decoration: underline;*/
    /*text-decoration-color: #daa520;*/
}

.about-section {
    max-width: 1000px;  
    margin: 4rem auto 6rem;
    padding: 2rem;
}


.about-div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 64px;
}

#about-img {
    width: 60% !important;
    border-radius: 20px;
    object-fit: cover;
}

.about-div p {
    width: 60%;
    margin-left: 2rem;
    padding: auto 10rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
}

.products-section {         /*PRODUCT SECTION SPACING*/
    max-width: 1200px;
    margin: 4rem auto;
    padding: 1rem 8rem;
}

.products-grid {        /*PRODUCT SECTION GRID STRUCTURE*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.product-card img {     /*GRID IMAGES SIZE AND STYLE*/
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px;
}

.product-card p {       /*GRID IMAGE-DESCRIPTION STYLE*/
    text-align: center;
    margin: 1rem;
}

.form-section {     /*FORM SECTION STRUCTURE*/
    max-width: 1200px;      
    margin: 4rem auto;
    padding: 1rem 2rem;
}

.form-element {     /*FORM ALIGNMENT*/
    display: flex;
    flex-direction: column;
    gap: 1rem;             
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
    color: #292727;
    background-color: #f9f5f2;
}

#submit {
    margin: 1rem 1rem 2rem;
    padding: 0.5rem;
}

.footer-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5rem auto 0;
    border-top: 1px solid #daa520;
    padding: 1.5rem;
    color: #eee;
    background: #292727;
}

.insta-link {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.6rem 1rem;
    font-weight: bold;
    text-decoration: none;
}

#insta-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
}