debug * { /*this is a debugging class*/
  outline: 1px solid rgb(43, 0, 255);
}


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background:
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url("images/image3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 4em;
    color: white;
}

h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 40px;
    letter-spacing: 0.6px;
    word-spacing: -2.8px;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

h1, p, legend {
    margin: 1em auto;
    text-align: center;
    color: white;
} 

legend {
    font-size: larger;
    padding: 2em 0 0.5em 0;
    text-decoration: underline;
    text-underline-offset: 3px;
}

p {
    margin-bottom: 2.5em;
    font-style: oblique;
}

fieldset {
    margin: 0 auto;
    max-width: 500px;
    border: none;
    padding: 1rem 0;
}

label {
    padding: 0 0 0 2px;
    width: unset;
    display: block;
}


input {
    margin: 10px 0;
    min-height: 1em;
    padding: 0.5em 0 0.5em 0.5em;
    width: 99%;
    color: white;
    background-color: #2e261b;
    border-color: white;
    border-width: 0.8px 0.5px 0.5px 0.8px; /*this looks crazy becasue the border of the inputs looked uneven*/
}

select {
    display: inline-block;
    margin: 10px 2em 10px 9.1%;
    padding: 0.5em 0.5em;
    vertical-align: middle;
}

input[type="checkbox"] {
    display: inline-block;
    width: unset;
    vertical-align: middle;
    margin: 1em 1em;
}

input[type="submit"] {
    margin: 10px auto;
    display: block;
    width: 30%;
    border-radius: 2em;
    border-width: 1px;
}

input[type="submit"]:hover {
    background: #894200;
    cursor: pointer;
}

#details {
    margin: 2em auto 1.5em auto;
}


.align .fieldset1 { 
    width: 100%;
    margin: 10px 0;
    display: block;
    padding: 0.5em 0.5em;
    
}

.sdetails {
    margin-bottom: 21.5m;
}

.pinfo { 
    margin-bottom: 2em;
}

.pcontact {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.number {
    margin: 1.5em 0 1em 3em;
    width: 25%;
    display: inline;
    padding: 0.5em 0 0.5em 0.5em;
}

.budget {
    margin-left: 22%;
    display: inline;
    width: 100%;
    vertical-align: middle;
}

.dropdown2 {
    display: inline;
    width: 101.9%;
    padding: 1em 0 1em 2px;
    margin: 5px 2em 10px 22%;
}

.radio {
    width: unset;
    display: inline-block;
    margin: 1em;
    vertical-align: middle;
}

.exservices {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.textlabel {
    text-align: center;
    text-decoration: underline;
}

textarea {
    background-color: #2E261B;
    color: white;
    padding-left: 0.5em;
}

hr {
    background-color: #894200;
    height: 2px;
    border-color: black; 
}

.hr3 {
    margin-top: 2em;
    margin-bottom: -2px;
}

.hr4 {
    margin-top: 2em;
}

.hr5 {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

