* {         /*CONTROLS WHETHER PADDING/BORDER COUNT IN THE WIDTH*/
    box-sizing: border-box;
}

body {          /*FONT STYLE OF THE BODY*/
  font-family: 'Inter', sans-serif;
}

#navbar {       /*STRUCTURE OF THE NAVBAR*/
    display: flex;
    flex-direction: column;
    gap: 0rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100vh;
    overflow-y: auto;
    padding: 2rem 0 2rem 0;
    border: 1px solid black;
}

.nav-title {        /*STRUCTURE OF THE NAV TITLE*/
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    color: dodgerblue;
}

#navbar > a {       /*STRUCTURE OF THE LINKS IN THE NAVBAR*/
    display: block;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 1rem;
    color: black;
    text-decoration: none;
}

#navbar > a:hover {     /*HOVER EFFECTS IN THE NAVBAR LINKS*/
    cursor: pointer;
    background-color: #f2f2f2;
}

#navbar > a:hover:last-of-type { /*HOVER EFFECT ON THE LAST LINK*/
    border-bottom: 1px solid black;
}

#navbar > a:first-of-type { /*ADDED TOP BORDER TO FIRST LINK*/
    border-top: 1px solid black;
}

#navbar > a:not(:last-of-type) { /*SEPARATION LINES ON NAVBAR*/
    border-bottom: 1px solid black;
}

#main-doc {      /*STRUCTURE OF THE MAIN SECTION*/
    margin-left: 225px;
    padding: 2rem;
}

section {       /*SECTION STRUCTURE*/
    padding: 1.5rem 3rem;
}

section > header {      /*HEADER OF EACH SECTION POSITION/STYLE*/
    font-size: 2rem;
    text-align: center;
}

p {         /*CREATES SEPARATION BETWEEN p's*/
  line-height: 1.6;
}

hr {        /*SEPARATION LINES STRUCTURE AND STYLE*/
    width: 100%;
    max-width: 600px;
    height: 2px;
    background-color: dodgerblue;
    border: none;
    margin: 2rem auto 3rem auto;
}

li {            /*MARGIN FOR THE LIST ELEMENT*/
    margin: 2rem 0;
}

ul:last-of-type {   /*SEPARATION BETWEEN THE LAST ITEM ON LIST AND NEXT HEADER*/
    margin-bottom: 64px;
}

code {          /*STYLE AND STRUCTURE OF THE CODE SECTIONS*/
    display: block;         /*CODE SECTIONS WERE BREAKING AT AROUND 800PX WIDTH SCREEN*/
    max-width: 75%;
    margin: 1rem 1rem;
    padding: 1rem;
    background-color: #e2e2e2;
    border: 1px solid dodgerblue;
}

#footer {           /*DESIGN AND STRUCTURE OF THE FOOTER*/
    text-align: center;
    margin-left: 225px;
    border-top: 1px solid dodgerblue;
}

.gitlink {              /*REMOVES THE BLUE LINK COLOR*/
    color: black;
}

.gitlink:hover {            /*HOVER BLUE COLOR ON THE LINK*/
    color: dodgerblue;  
}

#div_button {               /*MAKING THE DIV PARENT OF THE BUTTON A FLEX*/
    display: flex;
    justify-content: end;
    margin: 2rem 2rem auto auto;
}

#button {                       /*POSITION AND STYLE OF THE BUTTON/LINK*/
    display: inline-block;
    padding: 0.6rem 1rem;
    border: 1px solid dodgerblue;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#button:hover {                     /*STYLE HOVER EFFECT OF THE BUTTON*/
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}


        /*RESPONSIVE DESIGN*/

@media (max-width: 750px) {

    #navbar {                       /*MAKES THE NAVBAR BECOME A TOP NAVBAR*/
        position: relative;
        width: 100%;
        height: auto;
        padding-bottom: 0;      /*FIXES A WEIRD SPACE ON THE BOTTOM BORDER OF THE NAVBAR*/
        margin-bottom: 64px;
    }

    #navbar > a:hover:last-of-type {            /*FIXES A DOUBLE LINE ON THE LAST LINK*/
        border-bottom: 0px;
    }

    #main-doc {                 /*STRUCTURES THE ENTIRE BODY TO THE CENTER*/
        margin-left: 0;
        padding: 1rem;
    }

    section {                   /*LESS PADDING FOR SMALLER SCREENS*/
        padding: 1rem;
    }

    section > header {          /*SMALLER FONT HEADER FOR SMALLER SCREENS*/
        font-size: 1.5rem;
    }

    ul {                        /*CENTERS THE LIST WITH THE REST OF THE ELEMENTS*/
        padding: 0;
    }

    code {                      /*MAKES THE CODE BARS CONSISTENT ON SMALL SCREENS*/
        width: 75%;
        max-width: 100%;
        font-size: 0.9rem;
        text-align: center;
        margin: 0 auto;
    }

    #footer {           /*ALIGNS FOOTER WITH THE BODY*/
    margin-left: 0;
    }

    #div_button {           /*CENTER BUTTON ON SMALLER SCREENS*/
        justify-content: center;
        margin: 2rem auto;
    }
    
}

@media (prefers-reduced-motion: no-preference){         /*SMOOTH SCROLLING*/
    * {
        scroll-behavior: smooth;
    }
}