* {
    box-sizing: border-box;
}

body {          /*FONT STYLE OF THE BODY*/
  font-family: 'Inter', sans-serif;
}

#navbar {       /*STRUCTURE OF THE NAVBAR*/
    display: flex;
    flex-direction: column;
    gap: 0rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100vh;
    overflow-y: auto;
    padding: 2rem 0 2rem 0;
    border: 1px solid black;
}

.nav-title {        /*STRUCTURE OF THE NAV TITLE*/
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: underline;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

#navbar > a {       /*STRUCTURE OF THE LINKS IN THE NAVBAR*/
    display: block;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 1rem;
    color: black;
    text-decoration: none;
}

#navbar > a:hover {     /*HOVER EFFECTS IN THE NAVBAR LINKS*/
    cursor: pointer;
    background-color: #f2f2f2;
}

#navbar > a:hover:last-of-type { /*HOVER EFFECT ON THE LAST LINK*/
    border-bottom: 1px solid black;
}

#navbar > a:first-of-type { /*ADDED TOP BORDER TO FIRST LINK*/
    border-top: 1px solid black;
}

#navbar > a:not(:last-of-type) { /*SEPARATION LINES ON NAVBAR*/
    border-bottom: 1px solid black;
}

#main-doc {      /*STRUCTURE OF THE MAIN SECTION*/
    margin-left: 225px;
    padding: 2rem;
}

section {       /*SECTION STRUCTURE*/
    padding: 0 3rem;
}

section > header {      /*HEADER OF EACH SECTION POSITION/STYLE*/
    font-size: 2rem;
    text-align: center;
}

p {         /*CREATES SEPARATION BETWEEN p's*/
  line-height: 1.6;
}

hr {        /*SEPARATION LINES STRUCTURE AND STYLE*/
    width: 100%;
    max-width: 600px;
    height: 2px;
    background-color: dodgerblue;
    border: none;
    margin: 2rem auto 3rem auto;
}

li {
    margin: 2rem 0;
}

ul:last-of-type {   /*SEPARATION BETWEEN THE LAST ITEM ON LIST AND NEXT HEADER*/
    margin-bottom: 128px;
}

code {          /*STYLE AND STRUCTURE OF THE CODE SECTIONS*/
    margin: 1rem 1rem;
    padding: 1rem;
    background-color: #e2e2e2;
    border: 1px solid dodgerblue;
}

#boxmodel {     /*IMAGE OF THE BOXMODEL*/
    position: absolute;
    top: 1390px;
    right: 80px;
    max-width: 490px;
}