.debug *{
    outline: 1px solid yellow;
}

:root{
    --theme-color1: rgba(0, 132, 255, 0.35);
    --theme-color2: rgba(0, 200, 180, 0.28);
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.03rem;
}

#welcome-section {
    min-height: 100vh;
    background:
        radial-gradient(
            circle at top right,
            var(--theme-color1),
            transparent 65%
        ),
        radial-gradient(
            circle at bottom left,
            var(--theme-color2),
            transparent 65%
        ),
        black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem 16rem 200px;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding-bottom: 256px;
    padding-top: 20px;
}

#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 7rem;
    font-size: 1.3rem;
}

.maintitle {
    font-size: 2.5rem;
}



.hero-content {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 600px;
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
    line-height: 1.2;
}

.hero-content p {
    margin-bottom: 0;
}

.hero-content h1 {
    margin-top: 1rem;
    letter-spacing: normal;
}

#projects, #contact-section {
    padding-top: 68px;   
}

hr{
    border-color: rgba(0, 200, 180, 0.6);
    margin: 0 auto 128px;
    max-width: 600px;
    
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin: 100px auto;
}
.project-grid {
    display: grid;
    grid-template-columns:  minmax(2rem, 1fr)
                            minmax(2rem, 1fr)   
                            minmax(2rem, 1fr);
    gap: 4rem;
    place-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.project-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid var(--theme-color2);
    border-radius: 20px;
    padding: 1rem;
    font-size: 1.3rem;
    width: 100%;
    min-height: 200px;
}