.debug *{
    outline: 1px solid yellow;
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.03rem;
}

#welcome-section {
    min-height: 100vh;
    background:
        radial-gradient(
            circle at top right,
            rgba(0, 132, 255, 0.35),
            transparent 65%
        ),
        radial-gradient(
            circle at bottom left,
            rgba(0, 200, 180, 0.28),
            transparent 65%
        ),
        black;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 256px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 2rem 16rem;
    z-index: 1;
}

#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 7rem;
    font-size: 1.3rem;
}

.maintitle {
    font-size: 2.5rem;
}



.hero-content {
    max-width: 600px;
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
    line-height: 1.2;
    
}

.hero-content p {
    margin-bottom: 0;
}

.hero-content h1 {
    margin-top: 1rem;
    letter-spacing: normal;
}